[defaults]
# 1. Ruta de tu inventario personalizado (Lo que has pedido)
inventory = /etc/ansible/inventory
vault_password_file = /etc/ansible/.vault_pass
#stdout_callback = debug
# 2. Desactivar la validación de llaves SSH (Opcional, pero MUY recomendado en laboratorios)
# Si no pones esto en False, la primera vez que Ansible se conecte a un servidor nuevo 
# fallará porque te preguntará "Are you sure you want to continue connecting?" y se quedará bloqueado.
host_key_checking = true

# 3. Formato de salida más legible
# Si pones esto en True, los errores y resultados se leerán mucho mejor en pantalla.
#stdout_callback = yaml
bin_ansible_callbacks = True

[privilege_escalation]
# Activar la escalada de privilegios por defecto (sudo)
# Muy útil si siempre administras como root
#become = True
become_method = sudo
#become_user = root
become_ask_pass = False